{% extends 'base.html' %}

{% block 'content' %}
<h1>THIS IS A MATH FLASHCARDS GAME FOR KIDS YOU CAN CHOSE WHITCH OPERATION YOU WANT <p>&#128512;</p>  GOOD LUCK ! </h1>

<div class="card">
  <div class="card-header">
    Karim
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>my kids really enjoy playing this , so much fun and education </p>
      <footer class="blockquote-footer">21/04/2021 <cite title="Source Title"></cite></footer>
    </blockquote>
  </div>
</br>
</div>
<div class="card">
  <div class="card-header">
    Noah
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>my kids really enjoy playing this , so much fun and education | my kids really enjoy playing this , so much fun and education</p>
      <footer class="blockquote-footer">12/01/2021 <cite title="Source Title"></cite></footer>
    </blockquote>
  </div>
 <br>
</div>
<div class="card">
  <div class="card-header">
    Doua
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>my kids really enjoy playing this , so much fun and education . my kids really enjoy playing this , so much fun and education</p>
      <footer class="blockquote-footer">12/12/2020<cite title="Source Title"></cite></footer>
    </blockquote>
  </div>
</div>
{% endblock %}